/* WASHINGTONIAN SUBSCRIBE NOW STYLES */

/* PRIMARY LAYOUT STYLES */ 
body {
	background-color: #e1e1e1;
	margin: 0 0 0 0;
	font-family: Arial;
}
a {
	color: #379cee;
}
#subpage-topbar {
	height: 35px;
	background-color: #379cee;
	border-bottom: 3px solid #d7edfa;
	position: relative;
	z-index: 99;
}
#subpage-wrapper {
	position: relative;
}
#subpage-content-wrapper {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 50px 0 0 25px;
    position: relative;
    top: -25px;
    width: 1020px;
	box-shadow: 0 0 40px 20px #ACBBC6;
	-webkit-box-shadow: 0 0 40px 20px #ACBBC6;
	-moz-box-shadow: 0 0 40px 20px #ACBBC6;
	overflow: hidden;
}
#subpage-col-left h1 {
    color: #8A8A8A;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
}
#subpage-col-left {
	float: left;
}
#subpage-col-right {
    background: url("../images/right-col-bg.jpg") no-repeat scroll 0 0 transparent;
    float: right;
    min-height: 1315px;
    width: 290px;
    position: relative;
    top: -25px;
}
#subpage-footer {}

/* OTHER STYLES */ 
.magazine-cover {
    position: absolute;
    right: 90px;
    top: -17px;
    z-index: 999;
    box-shadow: -3px 3px 3px -3px #3a3a3a;
    -webkit-box-shadow: -3px 3px 3px -3px #3a3a3a;
    -moz-box-shadow: -3px 3px 3px -3px #3a3a3a;
    border: 1px solid #FFFFFF;
}
.subpage-offer { 
	overflow: hidden;
	margin-bottom: 20px;
}
.subpage-offer img {
	float: left;
	width: 100px;
	height: 130px;
	margin-right: 20px;
}
.subpage-offer-details {
	float: left;
}
.subpage-offer-details h3 {
	color: #379cee;
	font-weight: bold;
	font-family: 'OpenSansBold',Arial,sans-serif;
	text-transform: uppercase;
	margin:10px 0;
	padding-bottom: 15px;
}
.subpage-form-item {
	overflow: hidden;
	padding-bottom: 10px;
}
.subpage-form-label {
	width: 80px;
	float: left;
	text-align: right;
	padding-right: 20px;
}
#subpage-form h2 {
	font-family: 'OpenSansExtraBold',Arial,sans-serif;
	font-weight: normal;
}
.subpage-payment h2 {
    color: #379CEE;
    left: 15px;
    margin-right: 40px;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    float: left;
}
.subpage-payment .subpage-form-label {
	width: 180px;
}
.subpage-form-field {
	float: left;
	width: 300px;
	border-radius: 1px 1px 1px 1px;
	border: 1px solid #ccc;
	height: 30px;
	padding: 0 5px;
	color: #2282d0;
	font-size: 14px;
}
.subpage-offer-number {
	background-color: #379cee;
	padding: 5px 5px 5px 7px;
	color: #FFFFFF;
	border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
}
.subpage-offer-title {
	font-weight: bold;
}
.subpage-offer-options {
	font-size: 14px;
	line-height: 20px;
}
.subpage-offer-options input {
	margin-left: 25px;
}
.subscription-text {
    color: #A9A9A9;
    font-size: 10px;
    margin-top: 15px;
    width: 709px;
}
.subpage-submit-form {
	margin: 40px auto;
	width: auto;
	text-align: center;
}
.subpage-submit-form input {
    background: url("../images/subscribe-btn.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 60px;
    text-align: center;
    text-indent: -999px;
    width: 250px;
}
.subpage-submit-form input:hover {
	background: url("../images/subscribe-btn-hover.png") no-repeat;
}
.subpage-submit-form p {
    color: #434343;
    font-size: 12px;
    text-align: center;
    width: 640px;
}
.subpage-payment-cc-info {
	float: left;
	margin-top: 15px;
}
.subpage-clear {
	clear: both;
}
.subpage-form-item.exp-year {
	float: left;
	width: 50%;
}
.subpage-form-item.exp-month {
	float: left;
	width: 50%;
}
.exp-year .subpage-form-field, .exp-month .subpage-form-field {
	width: 145px;
}
.subpage-offer-options em {
	display: block;
}
.subpage-offer-disclaimer {
	font-style: italic;
	font-size: 12px;
	margin-top: 20px;
}
#controlForm .error, #specialForm .error {
	color: #ac1818;
}