@pm: 10px;

.bold {
	font-weight: bold;
}
.red {
	color: #9A1226;
}
.p-bottom {
	padding-bottom: @pm;
}
.m-top {
	margin-top: @pm;
}
.small {
	font-size: 10px;
}

// Extra Small
@media screen and (max-width: 767px) {
	.btn {
		width: 100%;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.container {
		.body {
			.head {
				margin-top: @pm;
				margin-bottom: @pm;
				img {
					// float: left;
					height: 35px;
					vertical-align: top;
				}
				.save {
					margin-left: @pm;
					display: inline-block;
					background: #FDC82F;
					height: 35px;
					width: 35px;
					border-radius: 20px;
					box-sizing: border-box;
					text-align: center;
					font-weight: bold;
					line-height: 8px;
					padding-top: 5px;

					span {
						display: block;
					}

					.size-13 {
						font-size: 6px;
					}
					
					.size-16 {
						font-size: 10px;
					}
					
					.size-19 {
						font-size: 12px;
						margin-top: 1px;
					}
				}
			}
		}
	}
}

// Small		
@media screen and (min-width: 768px) {
	body {
		background: #e7e6df;
	}
	.btn {
		width: 200px;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.container {
		// width: 650px;
		.body {
			background: #fff;
			border:1px solid #bbb;
			border-top:0px;

			h4 {
				font-size: 16px;
			}

			.sub {
				padding: 6px @pm;
				border-bottom: 1px solid #bbb;
				color:#777;
				font-size: 12px;
			}
			.head {
				// margin-left: 110px;
				// margin-left: 81px;
				margin-top: @pm;
				margin-bottom: @pm;
				img {
					// float: left;
					vertical-align: top;
				}
				.save {
					margin-left: @pm;
					display: inline-block;
					background: #FDC82F;
					height: 66px;
					width: 66px;
					border-radius: 33px;
					box-sizing: border-box;
					text-align: center;
					font-weight: bold;
					line-height: 15px;
					padding-top: 8px;

					span {
						display: block;
					}

					.size-13 {
						font-size: 13px;
					}
					
					.size-16 {
						font-size: 16px;
					}
					
					.size-19 {
						font-size: 19px;
					}
				}
			}
			.payment {
				.grey {
					background: #e7e6df;
					padding: 10px;
				}
				margin-bottom: @pm;
			}
		}
		.footer {
			padding: @pm;
		}
	}
}

// Medium
@media screen and (min-width: 992px) {
	.container {
		// width: 850px;
		.body {
			.head {
				// margin-left: 81px;
			}
			.side {
				background: url('../images/fireworks_sidebar.jpg') bottom right no-repeat #000;
				min-height: 1000px;
			}
		}
	}
}

// Large
@media screen and (min-width: 1200px) {}