.bold {
  font-weight: bold;
}
.red {
  color: #9A1226;
}
.p-bottom {
  padding-bottom: 10px;
}
.m-top {
  margin-top: 10px;
}
<<<<<<< HEAD
.image {
  border: 1px solid #000;
}
=======
>>>>>>> 6d66207af8846206666834e78d7eccc92400aedc
.small {
  font-size: 10px;
}
@media screen and (max-width: 767px) {
  .btn {
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .container .body .head {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .container .body .head img {
    height: 35px;
    vertical-align: top;
  }
  .container .body .head .save {
    margin-left: 10px;
    display: inline-block;
    background: #FDC82F;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    line-height: 8px;
    padding-top: 5px;
  }
  .container .body .head .save span {
    display: block;
  }
  .container .body .head .save .size-13 {
    font-size: 6px;
  }
  .container .body .head .save .size-16 {
    font-size: 10px;
  }
  .container .body .head .save .size-19 {
    font-size: 12px;
    margin-top: 1px;
  }
}
@media screen and (min-width: 768px) {
  body {
    background: #e7e6df;
  }
  .btn {
    width: 200px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .container .body {
    background: #fff;
    border: 1px solid #bbb;
    border-top: 0px;
  }
  .container .body h4 {
    font-size: 16px;
  }
  .container .body .sub {
    padding: 6px 10px;
    border-bottom: 1px solid #bbb;
    color: #777;
    font-size: 12px;
  }
  .container .body .head {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .container .body .head img {
    vertical-align: top;
  }
  .container .body .head .save {
    margin-left: 10px;
    display: inline-block;
    background: #FDC82F;
    height: 66px;
    width: 66px;
    border-radius: 33px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    line-height: 15px;
    padding-top: 8px;
  }
  .container .body .head .save span {
    display: block;
  }
  .container .body .head .save .size-13 {
    font-size: 13px;
  }
  .container .body .head .save .size-16 {
    font-size: 16px;
  }
  .container .body .head .save .size-19 {
    font-size: 19px;
  }
  .container .body .payment {
    margin-bottom: 10px;
  }
  .container .body .payment .grey {
    background: #e7e6df;
    padding: 10px;
  }
  .container .footer {
    padding: 10px;
  }
}
@media screen and (min-width: 992px) {
  .container .body .side {
    background: url('../images/fireworks_sidebar.jpg') bottom right no-repeat #000000;
    min-height: 1000px;
  }
}
