@font-face {
  font-family: 'roboto_slabbold';
  src: url('../fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.eot');
  src: url('../fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.woff') format('woff'), url('../fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.ttf') format('truetype'), url('../fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.picked {
  background: red;
}
body {
  background: #000000;
  padding: 25px;
}
body img.head {
  display: block;
  float: left;
  max-width: 160px;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px #444;
  margin: 25px 25px 30px 25px;
}
body .container .col-xs-12 .wrapper {
  background: #ffffff;
  padding: 25px;
}
body .container .col-xs-12 .wrapper .body {
  border: 1px #000000 solid;
}
body .container .col-xs-12 .wrapper .body header {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ececec));
  background: -webkit-linear-gradient(top, #ececec, #ffffff);
  background: -moz-linear-gradient(top, #ececec, #ffffff);
  background: -ms-linear-gradient(top, #ececec, #ffffff);
  background: -o-linear-gradient(top, #ececec, #ffffff);
  background: linear-gradient(top, #ececec, #ffffff);
  padding: 25px 15px 10px 15px;
}
body .container .col-xs-12 .wrapper .body header img {
  width: 450px;
}
body .container .col-xs-12 .wrapper .body .bar {
  background: #000000;
  padding: 15px 50px;
  color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
}
body .container .col-xs-12 .wrapper .body .bar h2 {
  font-weight: normal;
  margin: 0;
  font-family: 'roboto_slabbold', 'Helvetica Neue', Arial, sans-serif;
  font-size: 26px;
  line-height: 27px;
  font-weight: normal !important;
  color: #fff;
  text-transform: uppercase;
}
body .container .col-xs-12 .wrapper .body .bar h2 span {
  color: #b11d65;
}
body .container .col-xs-12 .wrapper .body .ipad {
  padding: 15px;
}
body .container .col-xs-12 .wrapper .body form {
  padding: 20px;
}
body .container .col-xs-12 .wrapper .body form h3 {
  font-family: 'roboto_slabbold', 'Helvetica Neue', Arial, sans-serif;
  font-size: 28px;
  text-transform: capitalize;
  color: #00a0e9;
  text-shadow: 2px 2px 0 #eee;
  margin-bottom: 9px;
}
body .container .col-xs-12 .wrapper .body form h3.options {
  color: #b11d65;
}
body .container .col-xs-12 .wrapper .body form h3.mail {
  margin-top: 20px;
}
body .container .col-xs-12 .wrapper .body form .subscription .sub {
  box-shadow: 0 0 4px #999;
  border: 2px #ffffff solid;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ececec), to(#ffffff));
  background: -webkit-linear-gradient(top, #ffffff, #ececec);
  background: -moz-linear-gradient(top, #ffffff, #ececec);
  background: -ms-linear-gradient(top, #ffffff, #ececec);
  background: -o-linear-gradient(top, #ffffff, #ececec);
  background: linear-gradient(top, #ffffff, #ececec);
  border-radius: 10px;
  height: 350px;
  padding: 20px;
}
body .container .col-xs-12 .wrapper .body form .subscription .sub .value {
  position: absolute;
  top: 1px;
  right: 17px;
}
body .container .col-xs-12 .wrapper .body form .subscription .sub .value img {
  border-top-right-radius: 10px;
}
body .container .col-xs-12 .wrapper .body form .subscription .sub span {
  color: #00A0E9;
  font-family: 'roboto_slabbold', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}
body .container .col-xs-12 .wrapper .body form .subscription .sub.print {
  padding: 20px 75px;
}
body .container .col-xs-12 .wrapper .body form .subscription .sub.print img {
  display: inline;
  vertical-align: bottom;
}
body .container .col-xs-12 .wrapper .body form .subscription .sub.print img.magazine {
  max-width: 115px;
  padding: 2px;
  border: 1px solid #ddd;
  left: 10px;
}
body .container .col-xs-12 .wrapper .body form .subscription .sub.print img.tablet {
  max-width: 96px;
  position: relative;
  z-index: 2;
  left: -14px;
  top: 6px;
}
body .container .col-xs-12 .wrapper .body form .subscription .sub.digital img {
  display: inline;
}
body .container .col-xs-12 .wrapper .body form .subscription .sub.digital img.tablet {
  max-width: 115px;
}
body .container .col-xs-12 .wrapper .body form .subscription .sub .radio input {
  float: none;
}
body .container .col-xs-12 .wrapper .body form .payment h4 {
  color: #00a0e9;
  font-family: 'roboto_slabbold', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 19px;
  margin-bottom: 12px;
}
body .container .col-xs-12 .wrapper .body form .payment .submit {
  background: #aa0000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a0000), to(#aa0000));
  background: -webkit-linear-gradient(top, #aa0000, #5a0000);
  background: -moz-linear-gradient(top, #aa0000, #5a0000);
  background: -ms-linear-gradient(top, #aa0000, #5a0000);
  background: -o-linear-gradient(top, #aa0000, #5a0000);
  background: linear-gradient(top, #aa0000, #5a0000);
  color: #fff;
  font-family: 'roboto_slabbold', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 800;
  width: 250px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 8px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid #fff;
  box-shadow: 0 0 3px #999;
  text-shadow: 1px -1px 0 #004277;
}
body .container .col-xs-12 .wrapper .body footer {
  background: #ececec;
  padding: 40px;
}
