@black: #000;
@white: #fff;
@grey: #ececec;
@red: #B11D65;
@blue: #00A0E9;

@robo: 'roboto_slabbold','Helvetica Neue',Arial,sans-serif;

.border(@r: 1px, @c: black, @t: solid) {
	border: @arguments;
}

.radius(@size: 10px) {
	border-radius: @size;
}

.background(@a,@b) {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@b), to(@a));
	background: -webkit-linear-gradient(top, @a, @b);
	background: -moz-linear-gradient(top, @a, @b);
	background: -ms-linear-gradient(top, @a, @b);
	background: -o-linear-gradient(top, @a, @b);
	background: linear-gradient(top, @a, @b);
}

@font-face {
    font-family: 'roboto_slabbold';
    src: url('../fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.eot');
    src: url('../fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.picked {background: red;}

body {
	background: @black;
	padding: 25px;
	img {
		&.head {
			display: block;
			float: left;
			max-width: 160px;
			border: 1px solid #ccc;
			box-shadow: 0 0 6px #444;
			margin: 25px 25px 30px 25px;
		}
	}
	.container {
		.col-xs-12 {
			.wrapper {	
				background: @white;
				padding: 25px;
				.body {
					// padding: 0;
					.border;
					header {
						.background(@grey, @white);
						padding: 25px 15px 10px 15px;
						img {
							width: 450px;
						}
					}
					.bar {
						background: @black;
						padding: 15px 50px;
						color: @white;
						margin-left: -15px;
						margin-right: -15px;
						h2 {
							font-size: 26px;
							// line-height: 27px;
							font-weight: normal;
							margin: 0;
							font-family: 'roboto_slabbold','Helvetica Neue',Arial,sans-serif;
							font-size: 26px;
							line-height: 27px;
							font-weight: normal !important;
							color: #fff;
							text-transform: uppercase;
							// padding: 10px 0;
							span {
								color: @red;
							}
						}
					}
					.ipad {
						padding: 15px;
					}
					form {
						padding: 20px;
						h3 {
							font-family: @robo;
							font-size: 28px;
							text-transform: capitalize;
							color: @blue;
							text-shadow: 2px 2px 0 #eee;
							margin-bottom: 9px;
							&.options {
								color: @red;
							}
							&.mail {
								margin-top: 20px;
							}
						}
						.subscription {
							.sub {
								box-shadow: 0 0 4px #999;
								.border(2px,@white,solid);
								.background(@white, @grey);
								.radius;
								height: 350px;
								padding: 20px;
								.value {
									position: absolute;
									top: 1px; 
									right: 17px;
									img {
										border-top-right-radius: 10px;
									}
								}
								span {
									color: #00A0E9;
									font-family: @robo;
									font-size: 20px;
									line-height: 21px;
									text-transform: uppercase;
									font-weight: bold;
									text-shadow: 1px 1px 0 #fff;
								}
								&.print {
									padding: 20px 75px;
									img {
										display: inline;
										vertical-align: bottom;
										&.magazine {
											max-width: 115px;
											padding: 2px;
											border: 1px solid #ddd;
											left: 10px;
										}
										&.tablet {
											max-width: 96px;
											position: relative;
											z-index: 2;
											left: -14px;
											top: 6px;
										}
									}
								}
								&.digital {
									img {
										display: inline;
										&.tablet {
											max-width: 115px;
										}
									}
								}
								.radio {
									input {
										float: none;
									}
								}
							}
						}
						.address {
							
						}
						.payment {
							h4 {
								color: @blue;
								font-family: @robo;
								font-weight: 800;
								text-transform: uppercase;
								font-size: 19px;
								margin-bottom: 12px;
							}
							.submit {
								background: #aa0000;
								.background(#aa0000, #5a0000);
								color: #fff;
								font-family: @robo;
								font-weight: 800;
								width: 250px;
								margin: 0 auto;
								border-radius: 8px;
								padding: 8px;
								font-size: 22px;
								text-transform: uppercase;
								cursor: pointer;
								border: 3px solid #fff;
								box-shadow: 0 0 3px #999;
								text-shadow: 1px -1px 0 #004277;
							}
						}
					}
					footer {
						// .background(@white,@grey);
						background: @grey;
						// border-top: 1px solid @black;
						padding: 40px;
					}
				}
			}
		}
	}
}