@media screen and (max-width: 767px) {
  .container .body .thanks h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
<<<<<<< HEAD
  .container .body .thanks h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #999
  }
=======
>>>>>>> 6d66207af8846206666834e78d7eccc92400aedc
  .container .body .btn {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container .body .thanks h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
<<<<<<< HEAD
  .container .body .thanks h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #999
  }
=======
>>>>>>> 6d66207af8846206666834e78d7eccc92400aedc
  .container .body .btn {
    width: auto;
  }
}
@media print {
  .container .body .hidden-print {
    display: none;
  }
}
