// Extra Small
@media screen and (max-width: 767px) {
	.container {
		.body {
			.thanks {
				h1 {
					font-family: Georgia, "Times New Roman", Times, serif;
				}
			}
			.btn {
				width: 100%;
			}
		}
	}
}

// Small		
@media screen and (min-width: 768px) {
	.container{
		.body {
			.thanks {
				h1 {
					font-family: Georgia, "Times New Roman", Times, serif;
				}
			}
			.btn {
				width: auto;
			}
		}
	}
}

// Medium
@media screen and (min-width: 992px) {}

// Large
@media screen and (min-width: 1200px) {}

@media print {
	.container {
		.body {
			.hidden-print {
				display:none;
			}
		}
	}
}