@charset "UTF-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
}
.CDS_main_area {
	width:600px;
	padding:22px;
	background-color:#fff;
	color:#444;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.CDS_main_area form {
	width:480px;
	margin:10px auto;
}
#Subscriber_info,
#CF_Billing_info,
#Donee_info {
}
#Subscriber_info label,
#CF_Billing_info label,
#Donee_info label {
	width:145px;
	display:block;
	float:left;
	font-size:15px;
	text-align:right;
}
#Subscriber_info input,
#CF_Billing_info input,
#Donee_info input {
	padding:4px;
	background-color:#fff;
	border:1px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#0080A5;
	width:300px;
	display:block;
	float:right;
	margin-bottom:14px;
	border-radius:4px;
}
#Subscriber_info select,
#payment_dropdown select,
select.input_98,
#Donee_info select {
	padding:4px;
	background-color:#fff;
	border:1px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	width:308px;
	color:#0080A5;
	display:block;
	margin-bottom:14px;
	border-radius:4px;
	float:right;
}
#Subscriber_info option {
	border-bottom:1px dotted #ccc;
	line-height:20px;
}
#Payment_info strong {
	display:block;
	font-size:20px;
}
.CF_headline {
	font-size:28px;
	margin:34px 0 8px 0;
	font-weight:200;
}
#TV label,
#Donee_info #TV label {
	width:350px;
	font-size:14px;
	line-height:20px;
	padding-left:6px;
}
#Donee_info label {
	font-size:14px;
}
#TV input,
#Donee_info #TV input {
	display:inline;
}
#spacer {
	margin-bottom:15px;
}
#callout h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-size:40px;
	font-style:italic;
	line-height:35px;
	margin-bottom:8px;
	letter-spacing:-1px;
}
#callout em {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#565656;
	display:block;
	font-size:18px;
	font-weight:200;
	width:480px;
	margin-left:110px;
	line-height:20px;
	margin-bottom:35px;
	font-style:normal;
	padding-bottom:15px;
	border-bottom:4px double #000;
}
input#Submit {
	display:block;
	width:110px;
	font-size:15.5px;
	text-transform:uppercase;
	color:#00c3c3;
	background:#000;
	border-radius:5px;
	border:none;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:200;
	text-transform:uppercase;
	padding:4px;
	margin:25px 0 40px 0;
	cursor:pointer;	
}
input#Submit:hover {
	background:#222;
	color:#eee;
}
#mag_header_area img {
	display:block;
	float:left;
	box-shadow:0 0 4px #888;
	margin-right:15px;
}
#iPad-promo p {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}
#iPad-promo p a {
	display:block;
	background:#222;
	color:#00c3c3;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	width:200px;
	font-size:16.5px;
	padding:4px;
	border-radius:5px;
	margin:5px auto;
	box-shadow:0 1px 4px #888;
}
#iPad-promo p a:hover {
	color:#eee;
	background:#232323;
	text-decoration:none;
}
#three-options {
	display:none;
}
.expand-link {
	font-size:11px;
	display:block;
	color:#0080A5;
	margin:10px 0 5px 0;
}
.confirmation-text p {
	margin-bottom: 20px;
}
#controlForm .error, #specialForm .error {
	color: #ac1818;
}
#hospitals h4,
#insurance-providers h4,
#user-tools h4 {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:22px;
	color:#333;
	text-shadow:1px 1px 0 #eee;
	font-weight:200;
	margin:0 0 15px 0;
}
#user-tools {
	border:1px solid #000;
	margin-bottom:20px;
	background:#ccc;
	padding:12px;
}
#user-tools a {
	display:block;
	width:195px;
	font-size:14px;
	border-radius:4px;
	background:#111;
	border:1px solid #000;
	color:#00c3c3;
	margin:6px 4px;
	text-transform:uppercase;
	padding:3px;
	text-align:center;
}
#user-tools a:hover {
	color:#fff;
	background:#222;
	text-decoration:none;
}