@charset "UTF-8";
/* CSS Document */

/* reset styles
------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* fonts and typograhy
----------------------------------------------- */
@font-face {
    font-family: 'roboto_slabbold';
    src: url('fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.eot');
    src: url('fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* frame
----------------------------------------------- */
body {
	
}
clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

header {
	text-align:center;
	background:#000 url('images/top-bottom.png') bottom repeat-x;
	width:100%;
}
#sub-header {
	width:1055px;
	margin:0 auto;
	padding-bottom:9px;
}
.left {
	float:left;
}
.right {
	float:right;
}

/* styles
----------------------------------------------- */
header img.main-logo {
	padding-top:77px;
}
header h2 {
	font-family:'roboto_slabbold','Helvetica Neue',Arial,sans-serif;
	font-size:26px;
	letter-spacing:2px;
	font-weight:normal !important;
	text-transform:uppercase;
	color:#fff;
	text-shadow:2px 2px 0 #555;
}
header span.bar {
	display:block;
}
#form {
	width:1055px;
	margin:0 auto;
	padding-bottom:30px;
}
#form > div {
	margin-bottom:25px;
}
#form span {
	display:block;
	padding-bottom:5px;
}
#form label,
#form em {
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:200;
	font-size:15px;
	color:#333;
	text-shadow:1px 1px 0 #fff;
}
#form em {
	position:relative;
	top:1px;
}
#subframe {
	width:100%;
	border-top:9px solid #00a0e9;
	margin-top:1px;
}
#sub-options {
	margin-top:20px;
	width:100%;
}
#sub-options h3,
#sub-data h3 {
	font-family:'roboto_slabbold','Helvetica Neue',Arial,sans-serif;
	font-size:28px;
	text-transform:capitalize;
	color:#00A0E9;	
	text-shadow:2px 2px 0 #eee;
	margin-bottom:9px;
}
#sub-options div {
	width:48%;
	border:2px solid #fff;
	height:260px;
	overflow:hidden;
	background:#eee;
	border-radius:10px;
	box-shadow:0 0 4px #999;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	padding:20px;
	text-shadow:1px 1px 0 #fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff)); 
	background: -webkit-linear-gradient(top, #fff, #eee); 
	background: -moz-linear-gradient(top, #fff, #eee); 
	background: -ms-linear-gradient(top, #fff, #eee); 
	background: -o-linear-gradient(top, #fff, #eee);
}
#sub-options div img {
	width:140px;
	display:block;
	float:right;
}
#sub-options div img.magazine {
	padding:2px;
	border:1px solid #ddd;	
	margin-left:10px;
}
#sub-options div h4 {
	color:#00A0E9;
	font-family:'roboto_slabbold','Helvetica Neue',Arial,sans-serif;
	font-size:20px;
	line-height:18px;
}
#sub-options div h5 {
	color:#333;
	font-size:22px;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:800;
	margin:5px 0;
}
#sub-options div p {
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size:14px;
	color:#333;
	line-height:15px;
	margin-bottom:12px;
}
#sub-data {
	width:100%;
}
#sub-data > div.default {
	border:2px solid #fff;
	height:360px;
	overflow:hidden;
	background:#eee;
	border-radius:10px;
	box-shadow:0 0 4px #999;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	padding:20px;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff)); 
	background: -webkit-linear-gradient(top, #fff, #eee); 
	background: -moz-linear-gradient(top, #fff, #eee); 
	background: -ms-linear-gradient(top, #fff, #eee); 
	background: -o-linear-gradient(top, #fff, #eee);
}
.picked {
	background:#fff !important;
}
#sub-data .left {
	width:58%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
}
#sub-data .right {
	width:40%;
}
#mailing-address h3 {
	margin-top:20px;
}
#form input#submit {
	display:block;
	background:#00A0E9;	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#004277), to(#00A0E9)); 
	background: -webkit-linear-gradient(top, #00A0E9, #004277); 
	background: -moz-linear-gradient(top, #00A0E9, #004277); 
	background: -ms-linear-gradient(top, #00A0E9, #004277); 
	background: -o-linear-gradient(top, #00A0E9, #004277);
	color:#fff;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:800;
	width:250px;
	margin:0 auto;
	border-radius:8px;
	padding:8px;
	font-size:22px;
	text-transform:uppercase;
	cursor:pointer;
	border:3px solid #fff;
	box-shadow:0 0 3px #999;
	text-shadow:1px -1px 0 #004277;
}
#form input#submit:hover {
	background:#aa0000;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a0000), to(#aa0000)); 
	background: -webkit-linear-gradient(top, #aa0000, #5a0000); 
	background: -moz-linear-gradient(top, #aa0000, #5a0000); 
	background: -ms-linear-gradient(top, #aa0000, #5a0000); 
	background: -o-linear-gradient(top, #aa0000, #5a0000);
}
#form p.renewal {
	color:#999;
	font-size:10px;
	line-height:12px;
	font-family:Arial, Helvetica, sans-serif;
	width:760px;
	margin:0 auto 20px auto;
	text-indent:-6px;
}
#form p.renewal strong {
	font-weight:bold;
}
#sub-data h4 {
	color:#00A0E9;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-weight:800;
	text-transform:uppercase;
	font-size:19px;	
}
#sub-data h4 img {
	vertical-align:middle;
	padding-left:6px;
}
#sub-data img.secure {
	display:block;
	margin-bottom:20px;
}
#sub-data div.left span label {
	display:inline-block;
	width:70px;
	text-align:right;
	padding-right:10px;
}
#sub-data div.right span label,
#sub-data div.right span label {
	width: 150px;
	display:inline-block;
}
#form #sub-data span {
	padding-bottom:9px;
}
#sub-data input[type=text], #sub-data input[type=creditcard], #sub-data input[type=email] {
	border: 1px solid #ccc; 
	background:#fff;
    -webkit-box-shadow: 
      inset 0 0 1px  #FFF,
            0 1px 1px #fff; 
    -moz-box-shadow: 
      inset 0 0 1px #FFF,
            0 1px 1px #fff; 
    box-shadow: 
      inset 0 0 1px #FFF,
            0 1px 1px #fff; 
	padding:5px;
	width:200px;
	border-radius:3px;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	color:#787878;
}
#sub-data select {
	width:212px;
	padding:5px;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #ccc;
	border-radius:3px;
	color:#787878;
	height:32px !important;
	background:#fff !important;
    -webkit-box-shadow: 
      inset 0 0 1px  #FFF,
            0 1px 1px #fff; 
    -moz-box-shadow: 
      inset 0 0 1px #FFF,
            0 1px 1px #fff; 
    box-shadow: 
      inset 0 0 1px #FFF,
            0 1px 1px #fff; 
}
#sub-contacts {
	width:100%;
	border-top:2px solid #fff;
	min-height:200px;
	margin-top:30px;
	overflow:hidden;
	background:#eee;
	box-shadow:0 0 4px #999;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	padding:20px;	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff)); 
	background: -webkit-linear-gradient(top, #fff, #eee); 
	background: -moz-linear-gradient(top, #fff, #eee); 
	background: -ms-linear-gradient(top, #fff, #eee); 
	background: -o-linear-gradient(top, #fff, #eee);
}
#sub-contacts p {
	width:800px;
	margin:10px auto;
	text-align:center;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:200;
	font-size:15px;
	line-height:21px;
	color:#333;
	text-shadow:1px 1px 0 #fff;
}
#sub-contacts p a {
	color:#00A0E9;
}

