@charset "UTF-8";
/* CSS Document */

div.form-error {
	padding: 6px 12px;
	line-height: 180%;
	background: #ffe5ed;
	border-radius: 4px;
	border:red solid 1px;
	color: darkred;
	clear:both;
}
div.form-error strong {
	font-weight:bold;
}
div.hidden {
	display:none;
}
li.error input, li.error select, input.error, select.error {
	border:1px solid red !important;
}

