@charset "UTF-8";
/* CSS Document */

/* reset styles
------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* fonts and typograhy
----------------------------------------------- */
@font-face {
    font-family: 'roboto_slabbold';
    src: url('fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.eot');
    src: url('fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('fonts/roboto-slab/robotoslab_bold/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* frame
----------------------------------------------- */
body {
	background:#000;	
}
clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
#wrapper {
	width:980px;
	margin:0 auto 30px;
	background:#fff;
	padding:30px;
}
#inner-wrapper {
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	border:1px solid #000;
	padding:20px;
}
header {
	background:#ECECEC;
	width:978px;
	margin:-20px 0 0 -20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	padding:20px;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ececec)); 
	background: -webkit-linear-gradient(top, #ececec, #fff); 
	background: -moz-linear-gradient(top, #ececec, #fff); 
	background: -ms-linear-gradient(top, #ececec, #fff); 
	background: -o-linear-gradient(top, #ececec, #fff);
}
#sub-header {
	margin:0 auto;
}
.left {
	float:left;
}
.right {
	float:right;
}

/* styles
----------------------------------------------- */
header img.main-logo {
	padding-top:25px;
	margin-bottom:20px;
	width:450px;
}
header h2 {
	font-family:'roboto_slabbold','Helvetica Neue',Arial,sans-serif;
	font-size:26px;
	line-height:27px;
	font-weight:normal !important;
	color:#fff;
	text-transform:uppercase;
	padding:10px 0;
}
header span.bar {
	display:block;
	background:#000;
	width:1000px;
	margin-left:-30px;
}
#sub-header img.header-mag {
	width:160px;
	display:block;
	border:1px solid #ccc;
	float:left;
	box-shadow:0 0 6px #444;
	margin:25px 25px 30px 0;
}
#form {
	width:100%;
	margin:0 auto;
	padding-bottom:30px;
}
#form > div {
	margin-bottom:25px;
}
#form span {
	display:block;
	padding-bottom:5px;
}
#form label,
#form em {
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:200;
	font-size:15px;
	color:#333;
	text-shadow:1px 1px 0 #fff;
}
#form em {
	position:relative;
	top:1px;
}
#subframe {
	width:100%;
	/*border-top:9px solid #00a0e9;*/
	margin-top:0;
}
#sub-options {
	margin-top:5px;
	width:100%;
}
img.offer-tag {
	float:right;
	position:absolute;
	right:-9px; top:-9px;
}
#sub-options h3,
#sub-data h3 {
	font-family:'roboto_slabbold','Helvetica Neue',Arial,sans-serif;
	font-size:28px;
	text-transform:capitalize;
	color:#00A0E9;	
	text-shadow:2px 2px 0 #eee;
	margin-bottom:9px;
}
h3 img.number {
	float:left;
	display:block;
	padding-right:5px;
}
#sub-options > div {
	border:2px solid #fff;
	height:380px;
	text-align:center;
	overflow:hidden;
	background:#eee;
	border-radius:10px;
	box-shadow:0 0 4px #999;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	padding:20px;
	text-shadow:1px 1px 0 #fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff)); 
	background: -webkit-linear-gradient(top, #fff, #eee); 
	background: -moz-linear-gradient(top, #fff, #eee); 
	background: -ms-linear-gradient(top, #fff, #eee); 
	background: -o-linear-gradient(top, #fff, #eee);
}
#sub-options div.left {
	width:59%;
}
#sub-options div.right {
	width:40%;
}
#sub-options div img {
	width:115px;
}
#sub-options div.product-block {
	margin-bottom:16px;
}
#sub-options div span {
	text-align:left;
	margin-left:5%;
}
#sub-options div span label {
	font-size:13px;
}
#sub-options div img.tablet {
	position:relative;
	z-index:2;
	left:-14px;
	top:6px;
	width:96px;
}
#sub-options div img.magazine {
	padding:2px;
	border:1px solid #ddd;	
	margin-left:10px;
}
#sub-options div h4 {
	color:#00A0E9;
	font-family:'roboto_slabbold','Helvetica Neue',Arial,sans-serif;
	font-size:20px;
	line-height:21px;
	text-transform:uppercase;
}
#sub-options div h5 {
	color:#333;
	font-size:22px;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:800;
	margin:5px 0;
}
#sub-options div p {
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size:14px;
	color:#333;
	line-height:16px;
	margin:0 auto 12px auto;
	width:88%;
}
p.instant-access {
	font-size:12px;
	font-style:italic;
	line-height:12px;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin:-2px 0 8px 0;
	padding-top:0;
}
p.instant-access a {
	color:#00A0E9;
}
#sub-data {
	width:100%;
}
#sub-data p.small-type {
	margin-left:85px;
	font-size:11px;
	color:#333;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-style:italic;
	margin-top:4px;
	padding-bottom:10px;
}
#sub-data > div.default {
	height:300px;
	overflow:hidden;
	padding:10px 40px;
	width:100%;
}
#sub-data > div.payment {
	height:auto;
	padding:10px 40px;
	border-top:2px dotted #ccc;
}
.picked {
	background:#fff !important;
}

#mailing-address h3 {
	margin-top:20px;
}
#form input#submit {
	display:block;
	background:#aa0000;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a0000), to(#aa0000)); 
	background: -webkit-linear-gradient(top, #aa0000, #5a0000); 
	background: -moz-linear-gradient(top, #aa0000, #5a0000); 
	background: -ms-linear-gradient(top, #aa0000, #5a0000); 
	background: -o-linear-gradient(top, #aa0000, #5a0000);
	color:#fff;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:800;
	width:250px;
	margin:0 auto;
	border-radius:8px;
	padding:8px;
	font-size:22px;
	text-transform:uppercase;
	cursor:pointer;
	border:3px solid #fff;
	box-shadow:0 0 3px #999;
	text-shadow:1px -1px 0 #004277;
}
#form input#submit:hover {
	
}
#form p.renewal {
	color:#999;
	font-size:10px;
	line-height:12px;
	font-family:Arial, Helvetica, sans-serif;
	width:760px;
	margin:0 auto 20px auto;
	text-indent:-6px;
}
#form p.renewal strong {
	font-weight:bold;
}
#sub-data h4 {
	color:#00A0E9;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-weight:800;
	text-transform:uppercase;
	font-size:19px;	
	margin-bottom:12px;
}
#sub-data h4 img {
	vertical-align:middle;
	padding-left:6px;
}
#sub-data img.secure {

}
#sub-data div.default span label {
	display:inline-block;
	width:70px;
	text-align:right;
	padding-right:10px;
}
#sub-data div.payment span label,
#sub-data div.payment span label {
	width: 150px;
	display:inline-block;
}
#form #sub-data span {
	padding-bottom:9px;
}
#sub-data input[type=text] {
	border: 1px solid #ccc; 
	background:#fff;
    -webkit-box-shadow: 
      inset 0 0 1px  #FFF,
            0 1px 1px #fff; 
    -moz-box-shadow: 
      inset 0 0 1px #FFF,
            0 1px 1px #fff; 
    box-shadow: 
      inset 0 0 1px #FFF,
            0 1px 1px #fff; 
	padding:5px;
	width:200px;
	border-radius:3px;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	color:#787878;
}
#sub-data select {
	width:212px;
	padding:5px;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #ccc;
	border-radius:3px;
	color:#787878;
	height:32px !important;
	background:#fff !important;
    -webkit-box-shadow: 
      inset 0 0 1px  #FFF,
            0 1px 1px #fff; 
    -moz-box-shadow: 
      inset 0 0 1px #FFF,
            0 1px 1px #fff; 
    box-shadow: 
      inset 0 0 1px #FFF,
            0 1px 1px #fff; 
}
#sub-contacts {
	width:978px;
	border-top:2px solid #fff;
	min-height:200px;
	margin-top:30px;
	overflow:hidden;
	background:#eee;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	padding:20px;
	margin-left:-20px;	
	margin-bottom:-20px;
}
#sub-contacts p {
	width:800px;
	margin:10px auto;
	text-align:center;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:200;
	font-size:15px;
	line-height:21px;
	color:#333;
	text-shadow:1px 1px 0 #fff;
}
#sub-contacts p.smaller {
	font-size:12px;
	line-height:14px;
}
#sub-contacts p a {
	color:#00A0E9;
}

