@padding: 40px;
@color_bg: #eee;
@signin_width: 330px;
@margin: 10px;
@font-size: 16px;

body {
  padding-top: @padding;
  padding-bottom: @padding;
  background-color: @color_bg;
}

.form-signin {
	max-width: @signin_width;
  	padding: @padding/2;
  	margin: 0 auto;
  	.form-signin-heading, .checkbox {
		margin-bottom: @margin;
  	}
	.checkbox {
		font-weight: normal;
	}
	.form-control {
		box-sizing: border-box;
		position: relative;
		font-size: @font-size;
		height: auto;
  		padding: @margin;
	}
	.form-control:focus {
		z-index: 2;
	}
	input[type="text"] {
	  	margin-bottom: -1px;
	  	border-bottom-left-radius: 0;
	 	border-bottom-right-radius: 0;
	}
	input[type="password"] {
		margin-bottom: @margin;
  		border-top-left-radius: 0;
  		border-top-right-radius: 0;
	}
}
