@charset "UTF-8";
/* CSS Document */

/* reset styles
------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}


body {
	background:#e7e6df;
}

.left {
	float:left;
}
.right {
	float:right;
}

#sub-wrapper {
	width:880px;
	background:#fff;
	margin:0 auto 15px auto;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding-top:5px;
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
	border-bottom:1px solid #bbb;
}
#footer {
	width:880px;
	margin:10px auto 30px auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#top-sub-bar {
	border-bottom:1px solid #ccc;
	color:#777;
	font-size:12px;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	padding:0 15px 6px 15px;
}
#top-sub-bar i {
	font-size:15px;
	position:relative;
	left:-4px;
}
#cntr {
	float:left;
	padding:16px 20px;
	width:620px;
}
#cntr > p {
	padding-top:14px;
	font-size:14px;
	line-height:17px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#side {
	width:212px;
	min-height:830px;
	background:url('../images/fireworks_sidebar.jpg') top no-repeat;
	float:right;
	border-left:1px solid #aaa;
}
img#wash-logo {
	float:left;
	margin-left:80px;
}
span#savings {
	float:left;
	width:70px;
	height:70px;
	display:block;
	background:#FDC82F;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:13px;
	text-align:center;
	border-radius:35px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding-top:15px;
	text-transform:uppercase;
	margin-left:20px;
}
span#savings > span {
	font-size:12px;
}
span#savings > em {
	font-size:19px;
	display:block;
	margin-top:1px;
}
#cntr form ul {
	list-style:none;
	margin-top:20px;
}
#cntr form ul.right {
	margin-right:35px;
}
#cntr form li {
	margin-bottom:6px;
}
#cntr form ul label {
	float:left;
	display:block;
	width:77px;
	font-size:13px;
	line-height:14px;
	color:#343434;
	padding-top:3px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-family:Arial, Helvetica, sans-serif;
}
#cntr form ul input {
	width:180px;
	border:1px solid #ccc;
	font-family:Lucida Grande, Arial, sans-serif;
	font-size:13px;
	padding:3px;
	color:#333;
}
#cntr form ul select {
	width:189px;
	border:1px solid #ccc;
	font-family:Lucida Grande, Arial, sans-serif;
	font-size:13px;
	padding:3px;
	color:#333;
	border-radius:0;
}
.term {
	clear:both;
	padding-top:20px;
}
ul.price-options input {
	width:auto !important;
}
ul.price-options label {
	width:300px !important;
	float:none !important;
	display:inline-block !important;
}
ul.price-options label strong {
	font-weight:bold;
}
.term img {
	width:220px;
	float:right;
	margin-right:35px;
	margin-top:20px;
	border:1px solid #666;
}
p.fine-print {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666;
	line-height:12px;
}
p.fine-print strong {
	font-weight:bold;
}
.term h4,
.payment h4 {
	color:#9A1226;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:19px;
}
.payment {
	margin-top:20px;
}
.payment-inner {
	background:#e7e6df;
	padding:10px;
	margin:1px 0 3px 0;
}
.payment-inner ul {
	margin-top:0 !important;
	width:300px;
}
#cntr form .payment-inner ul label {
	width:115px;
	font-size:12px;
	padding-top:4px !important;
}
#cntr form .payment-inner ul input {
	width:172px !important;
}
#cntr form .payment-inner ul select {
	width:180px;
}
.payment img.secure {
	position:relative;
	top:-3px;
}
input#submit {
	display:block;
	background:#9A1226;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	text-transform:uppercase;
	padding:5px 10px;
	border:1px solid #770000;
	cursor:pointer;
	margin-top:22px;
	width:200px;
	font-weight:bold;
}

